body {
  padding: 1rem;
  margin: 0;
  font-family: sans-serif;
  font-weight: 200;
}

.form-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.statistics {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 20px;
  padding: 0 10px;
  color: #fff;
  background-color: #26a69a;
}
