body {
  padding: 1rem;
  margin: 0;
  font-family: sans-serif;
  font-weight: 200;
}

.formblock {
  margin-bottom: 2rem;
}

#form [name=title],
#form [name=description] {
  width: 100%;
  margin-bottom: 1rem;
}

.post {
  margin: 1.5rem 0;
}

.post__date {
  font-size: 0.75rem;
  font-style: italic;
  margin: 1.5rem 0;
}

.post__nav {
  padding: 0.5rem 0;
}