body {
  padding: 1rem;
  margin: 0;
  font-family: sans-serif;
}

#form [name=title],
#form [name=description] {
  width: 100%;
  margin-bottom: 1rem;
}

.list__item {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
}

.list__nav {
  padding: 0.5rem 0;
}